<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>PhotoGal - Account</title>
    <link rel="stylesheet" id="stylesheet" href="/stylesheets/styles.css">
    <script src="scripts/script.js"></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body id="account-body">
    <header id="header">
        <a href="Home_Page.html" id="logo">PhotoGal</a>
        <nav id="nav-items">
          <a href="/">Home</a>
          <a href="/gallery">Gallery</a>
          <a href="/account">Account</a>
          <form action='/logout?_m=DELETE' method=POST>
            <button type="submit" class="btnSignout">Sign Out</button>
          </form>
        </nav>
      </header>
      <main>
      
        <div id="header-color"></div>
        <h2 id="heading">Account Details</h2>
        <div id="line-border"></div>

        <div id="description-account">
          <ion-icon id="icon" name="information-circle-outline"></ion-icon>
          <p>This provides basic information about the users account as well as personal.</p>
        </div>
        <div id="info">
          <p><strong>Name:</strong> <span><%= user.fname + " " + user.lname %></span></p>
          <p><strong>Username:</strong>  <span><%= user.username %></span></p>
          <p><strong>Date Joined:</strong> <span><%= new Date(parseInt(user.id)).toLocaleDateString('en-US', {weekday: 'short', month: 'short', day: 'numeric', year: 'numeric'}).replace(/,/g,'') %></span></p>
          <button id="dark-mode" onclick="toggleDarkMode()">Toggle Darkmode</button>
        </div>
       
        <footer id="footer">
          <div id="copy">&copy; 2023 Web Wizards Inc.</div>
          <div id="bottom-links">
            <div id="links">
              <span>More</span>
              <a href="/">Home</a>
              <a href="/gallery">Gallery</a>
              <a href="/account">Account</a>
            </div>
          </div>
        </footer>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
