<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gallery Rough Draft</title>
        <link rel="stylesheet" href="stylesheets/main.css">

    </head>

    <body>
        <header>
            <h1 id="gallery_name">Main Gallery</h1>
        </header>
        <div id="column_container">
            <div id="left_column">
                <nav>
                    <h2 id="album_name">Albums</h2>
                    <button id="create_album_button"><h3>Create album</h3></button>
                    <ul>
                        <li>Album 1</li>
                        <li>Album 2</li>
                        <li>Album 3</li>
                    </ul>  
                </nav>
            </div>
            <div id="right_column">
                <section id="file_upload">

                    <% if(uploadStatus == true) { %>
                        <label for="message" class="alert">Upload succesfull</label>
                    <% } %>

                    <form enctype="multi-part/form-data" method="post">

                        <input id="input" type="file" class="file" multiple="multiple" accept="image/png, image/jpg, image/jpeg, image/gif">

                        <button type="submit">Upload</button>

                    </form>

                    <form id="queue">

                        <div class="queue">
                            <button type="submit">Remove</button>
                        </div>

                    </form>
                
                </section>
            </div>
        </div>


        <footer>
            <ul>
                <li><a href="rough_draft.ejs.html">1</a></li>
                <li><a href="rough_draft_2.html">2</a></li>
                <li><a href="rough_draft_3.html">3</a></li>
            </ul>
        </footer>
    
        <script src="scripts/script_test.js"></script>

    </body>

</html>
