<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gallery Page</title>
    <link rel="stylesheet" href="gallery_roughdraft.css">
</head>

<body>
    <header>
        <h2 class="logo">Logo</h2>
        <nav class="navigation">
            <!--Input links to these pages-->
            <a href="#">Home</a>
            <a href="#">Gallery</a>
            <a href="#">Account</a>
            <button class="btnSignout-popup">Sign Out</button>
        </nav>
    </header>

    <div class="container">
      <h2>Albums</h2>
      <button class="btnAlbum">Create Album</button>
      <ul class="album-list">
          <li><a href="#" class="album-list-item">Album 1</a></li>
          <li><a href="#" class="album-list-item">Album 2</a></li>
          <li><a href="#" class="album-list-item">Album 3</a></li>
          <li><a href="#" class="album-list-item">Album 4</a></li>
          <li><a href="#" class="album-list-item">Album 5</a></li>
          <li><a href="#" class="album-list-item">Album 6</a></li>
          <li><a href="#" class="album-list-item">Album 7</a></li>
          <li><a href="#" class="album-list-item">Album 8</a></li>
          <li><a href="#" class="album-list-item">Album 9</a></li>
          <li><a href="#" class="album-list-item">Album 10</a></li>
      </ul>
    </div>

    <div class="photo-section">
      <h2>Album 1</h2>
        <div class="photo-container">
          <div class="header">
            <button class="add-photo-button">Add Photos</button>
          </div>
          <div class="photos">
            <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=">
            <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=">
            <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=">
            <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=">
            <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=">
            <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=">
            <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=">
            <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=">
            <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=">
          </div>
        </div>
      </div>
</body>

</html>