<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PhotoGal - Home</title>
        <link rel="stylesheet" id="stylesheet" href="/stylesheets/styles.css">
        <script src="scripts/script.js"></script>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    </head>

    <body>
        <header id="header">
            <a href="/" id="logo">PhotoGal</a>
            <nav id="nav-items">
              <a href="/">Home</a>
              <a href="/gallery">Gallery</a>
              <a href="/account">Account</a>
              <% if (!user) { %>
                <button class="btnLogin" onclick="window.location.href='/login'">Login</button>
              <% } else { %>
                <form action='/logout?_m=DELETE' method=POST>
                  <button type="submit" class="btnSignout">Sign Out</button>
                </form>
              <% } %>
            </nav>
          </header>
          <main>
            <div id="display">
              <h1>Personal Web Gallery</h1>
              <p>A new way to store and share the photos you've taken.</p>
            </div>
            <div id="synopsis">
              <div id="description">
                <p id="description-heading">USE</p>
                <p id="description-text">A portfolio for storing any pictures that <br>you desire.</p>
              </div>
              <div id="description">
                <p id="description-heading">SIMPLE</p>
                <p id="description-text">A functional, easy to use method of storing and <br>sharing your photography.</p>
              </div>
              <div id="description">
                <p id="description-heading">NETWORK</p>
                <p id="description-text">Share your photography with the world.</p>
              </div>
            </div>
            <div id="get-started">
              <% if (!user) { %>
              <div id="get-started-text">
                <h2>GET STARTED</h2>
                <p>Get started today by creating an account and begin saving your photos!</p>
              </div>
                <button class="btnSignup" onclick="window.location.href='/login'">Signup</button>
              <% } else { %>
                <div id="get-started-text">
                  <h2>GET STARTED</h2>
                  <p>Get started today by visiting the gallery and begin saving your photos!</p>
                </div>
                  <button class="btnSignup" onclick="window.location.href='/gallery'">Gallery</button>
              <% } %>
            </div>
          </main>
          
          <footer id="footer">
            <div id="copy">&copy; 2023 Web Wizards Inc.</div>
            <div id="bottom-links">
              <div id="links">
                <span>More</span>
                <a href="/">Home</a>
                <a href="/gallery">Gallery</a>
                <a href="/account">Account</a>
              </div>
            </div>
          </footer>
    </body>
</html>