<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="/public/stylesheets/Home_page.css">
    </head>

    <body>
        <header id="header">
            <a href="Home_Page.html" id="logo">PhotoGal</a>
            <nav id="nav-items">
              <a href="Home_Page.html">Home</a>
              <a href="rough_draft.ejs.html">Gallery</a>
              <a href="#">Account</a>
            </nav>
          </header>
          <main>
            <div id="display">
              <h1>Personal Web Gallery</h1>
              <p>A new way to store and share the photos you've taken.</p>
            </div>
            <div id="synopsis">
              <div id="description">
                
                <p id="description-heading">USE</p>
                <p id="description-text">A portfolio for storing any pictures that you desire.</p>
              </div>
              <div id="description">
                
                <p id="description-heading">SIMPLE</p>
                <p id="description-text">A functional, easy to use method of storing and sharing your photography.</p>
              </div>
              <div id="description">
                
                <p id="description-heading">NETWORK</p>
                <p id="description-text">Share your photography with the world.</p>
              </div>
            </div>
            <div id="get-started">
              <div id="get-started-text">
                <h2>GET STARTED</h2>
                <p>Get started today by creating an account and begin saving your photos!</p>
              </div>
            </div>
          </main>
          
          <footer id="footer">
            <div id="copy">&copy; 2023 Web Wizards Inc.</div>
            <div id="bottom-links">
              <div id="links">
                <span>More</span>
                <a href="/views/Home_Page.html">Home</a>
                <a href="#">Gallery</a>
                <a href="/views/account_page.html">Account</a>
              </div>
            </div>
          </footer>
    </body>
</html>
