<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <header>
        <!--Add logo-->
        <h2 class="logo">Logo</h2>
        <nav class="navigation">
            <!--Input links to these pages-->
            <a href="#">Home</a>
            <a href="#">Gallery</a>
            <a href="#">Account</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>

    <div class="wrapper">
        <span class="icon-close">
            <ion-icon name="close"></ion-icon>
        </span>
        <div class="form-box login">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="text" id="username" name="username" required>
                    <label for="username">Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <div class="remember">
                    <label><input type="checkbox">Remember me</label>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="login-register">
                    <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
                </div>
            </form>
        </div>

        <div class="form-box register">
            <h2>Registration</h2>
            <form action="/registration" method="POST">
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="text" id="fname" name="fname" required>
                    <label for="fname">First Name</label>
                </div>
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="text" id="lname" name="lname" required>
                    <label for="lname">Last Name</label>
                </div>
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="text" id="username" name="username" required>
                    <label for="username">Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                    <label for="confirm-password">Confirm Password</label>
                </div>
                <button type="submit" class="btn">Register</button>
                <div class="login-register">
                    <p>Already have an account? <a href="#" class="login-link">Login</a></p>
                </div>
            </form>
        </div>
    </div>
    <script src="/scripts/login.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>
