<h1>Login</h1>

<% if (messages.error) { %>
	<%= messages.error %>
<% } %>
	
<p>No account? Click here to <a href="/registration">register</a>.</p>

<form action="/login" method="POST">
	<div>
		<label for="username">Username:</label>
  	<input type="text" id="username" name="username" required>
	</div>
	<div>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required>
	</div>
	<button type="submit">Login</button>
</form>
