<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoGal - Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
    <header>
    </header>

    <div class="wrapper">
        <span class="icon-close">
            <ion-icon name="close"></ion-icon>
        </span>
        <div class="form-box login">
            <h2>Login</h2>
            <form action="/login" method="POST" id="login-form" novalidate>
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="text" id="login-username" name="username" required>
                    <label for="username">Username</label>
                    <small>Error Message</small>
                </div>
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="password" id="login-password" name="password" required>
                    <label for="password">Password</label>
                    <small>Error Message</small>
                </div>
                <div class="remember">
                    <label><input type="checkbox">Remember me</label>
                </div>
                <button type="submit" class="btnLogin">Login</button>
                <div class="login-register">
                    <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
                </div>
            </form>
        </div>

        <div class="form-box register">
            <h2>Registration</h2>
            <form action="/registration" method="POST" id="register-form" novalidate>
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="text" id="firstname" name="firstname" required>
                    <label for="firstname">First Name</label>
                    <small>Error Message</small>
                </div>
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="text" id="lastname" name="lastname" required>
                    <label for="lastname">Last Name</label>
                    <small>Error Message</small>
                </div>
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="text" id="reg-username" name="username" required>
                    <label for="username">Username</label>
                    <small>Error Message</small>
                </div>
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="password" id="reg-password" name="password" required>
                    <label for="password">Password</label>
                    <small>Error Message</small>
                </div>
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                    <label for="confirm-password">Confirm Password</label>
                    <small>Error Message</small>
                </div>
                <button type="submit" class="btnRegister">Register</button>
                <div class="login-register">
                    <p>Already have an account? <a href="#" class="login-link">Login</a></p>
                </div>
            </form>
        </div>
    </div>
    <script src="/scripts/login.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>