<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gallery Rough Draft</title>
        <link rel="stylesheet" href="main.css">
        
    </head>

    <body>
        <header>
            <h1 id="gallery_name">Main Gallery</h1>
            
        </header>
        <nav>
            <h2 id="album_name">Albums</h2>
                <ul>
                    <li>Album 1</li>
                    <li>Album 2</li>
                    <li>Album 3</li>
                </ul>  
        </nav>
        <section id="file_upload">
        
        <input type="file" id="image_input" accept="image/png, image/jpg, image/jpeg">
        <div id="image_display"></div>
 
        <input type="file" id="image_input1" accept="image/png, image/jpg, image/jpeg">
        <div id="image_display1"></div>
        

        <input type="file" id="image_input2" accept="image/png, image/jpg, image/jpeg">
        <div id="image_display2"></div>

        <input type="file" id="image_input3" accept="image/png, image/jpg, image/jpeg">
        <div id="image_display3"></div>

        <input type="file" id="image_input4" accept="image/png, image/jpg, image/jpeg">
        <div id="image_display4"></div>

        <input type="file" id="image_input5" accept="image/png, image/jpg, image/jpeg">
        <div id="image_display5"></div>


        

        <script src="script.js"></script>
        </section>
        
        
        <footer>
            <ul>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
             </ul>
        </footer>
    </body>
    
</html>