<h1> TEST IMAGE UPLOAD </h1>

<form action='upload' enctype='multipart/form-data' method='POST'>

	<div>
		<label for='image1'>Image 1</label>
		<input type='file' name='image1'>
	</div>

	<div>
		<label for='image2'>Image 2</label>
		<input type='file' name='image2'>
	</div>

	<div>
		<input type='submit' value='Upload images'>
	</div>

</form>
