* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

/*-----Nav Bar-----*/
#header {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
    background: #444368;
}
  
#header #logo {
    font-size: 25px;
    font-family: 'Segoe Script', Arial, Helvetica, sans-serif;;
    color: white;
    text-decoration: none;
    margin-left: 30px;
}
  
#nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    margin-left: 40px;
}

#nav-items a:hover{
      color:white;
      background-color: #585787;
}
  
#nav-items a {
    color: white;
    font-size: 1.1em;
    padding: 35px 20px;
    text-decoration: none;
    font-weight: 500;
}
  
/*-----Login Button-----*/
#nav-items .btnSignout {
    width: 130px;
    height: 50px;
    background: #585787;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 50px;
    transition: .5s;
}
  
#nav-items .btnSignout:hover{
    background: #302f49;
    color: #fff;
}

/*-----Album Container-----*/
.container {
    float: left;
    width: 15%;
    margin-top: 150px;
}

.container h2 {
    margin-left: 10px;
    text-align: center;
}
  
.btnAlbum {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 10px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.btnAlbum:hover {
    background-color: #3e8e41;
    cursor: pointer;
}

.album-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    height: 300px;  
    overflow-y: scroll;  
}

.album-list li {
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
}

.album-list .album-list-item {
    text-decoration: none;
    color: black;
}

/*-----Photo Container-----*/
.photo-section {
    float: left;
    width: 85%;
    margin-top: 100px;
    margin-left: -1px;
  }
  
.photo-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 40px;
}
  
.photo-container {
    float: left;
    position: relative;
    max-width: 100%;
    height: 500px;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
}
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.add-photo-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
  
.add-photo-button:hover {
    background-color: #3e8e41;
    cursor: pointer;
}
  
.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.photos img {
    width: 30%;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .photos img {
      width: 100%;
      margin-bottom: 10px;
    }
}
