* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("https://cdn.shopify.com/s/files/1/0330/1705/products/fa_print_2_1000x.jpg?v=1615579535");
}

/*-----Login Box-----*/
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    border-radius: 20px;
    background: #F5F5F5;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper.active {
    height: 630px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: 2em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}


.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h2 {
    font-size: 40px;
    font-family: 'Segoe Script', Arial, Helvetica, sans-serif;
    color: black;
    text-align: center; 
}

/*-----Input Box-----*/
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
    transition: .5s;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    background: #F5F5F5;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;
}

/*-----Error Messages-----*/
.input-box small {
    visibility: hidden;
    display: block;
    margin-top: 3px;
    margin-left: 5px;;
}

.input-box.error small {
    color: #E53C2B;
    visibility: visible;
}

/*-----Remember Me Box-----*/
.remember {
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
}

.remember label input {
    accent-color: black;
    margin-right: 3px;
}

/*-----Login Button-----*/
.btnLogin, .btnRegister {
    width: 100%;
    height: 45px;
    background: #706FA2;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.btnLogin:hover, .btnRegister:hover {
    background: #585787;
    color: white;
}

/*-----Login/Register Link-----*/
.login-register {
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}