body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32 px;
    
}

/*-----Nav Bar-----*/
#header {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
    background: #444368;
}
  
#header #logo {
    display: inline-flex;
    align-items: center;
    height: 50px;
    margin-left: 30px;
    font-size: 25px;
    font-family: 'Segoe Script', Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}
  
#header #logo::before {
    content: "";
    background-image: url('/images/white-camera.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 50px;
    margin-right: 5px;
    margin-top: 5px;
}
  
#nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    margin-left: 40px;
}

#nav-items a:hover{
      color:white;
      background-color: #585787;
}
  
#nav-items a {
    color: white;
    font-size: 1.1em;
    padding: 35px 20px;
    text-decoration: none;
    font-weight: 500;
}
  
/*-----Login Button-----*/
#nav-items .btnSignout {
    width: 130px;
    height: 50px;
    background: #585787;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 50px;
    transition: .5s;
}
  
#nav-items .btnSignout:hover{
    background: #302f49;
    color: #fff;
}

#file_upload {
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
    justify-content: center;
    flex: 0 1 80%;
    flex-wrap: wrap;

}
#gallery_name{
    display: flex;
    justify-content: center;
}
#account_name{
    display:flex;
    justify-content: right;
}


#image_display,#image_display1,#image_display2,#image_display3,#image_display4,#image_display5,#image_input6 {
    width: 375px;
    height: 211px;
    border: 1px solid black;
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center;
    
    

}
#image_input2{
    display:block;
}

footer ul{
    display: flex;
   flex-direction: row;
   justify-content: center; 
   list-style: none;
   padding: 0;
   white-space: nowrap;
}
#column_container {
    display: flex;
    margin-top: 80px;
}

/*-----Album List-----*/
#left_column {
    width: 20vw;
    text-align: center;
}

#album_name {
    margin-top: 0;
}

#album-items  {
    display:flex;
    flex: 0 1 20%;
    flex-direction: column;
    
}

/*-----Error Messages-----*/
.album-input .alert {
    visibility: hidden;
    display: block;
    margin-bottom: -15px;
}

.album-input.error .alert {
    color: #E53C2B;
    visibility: visible;
}


#create_album_button {
    width: 70%;
    align-self: center;
    border-radius: 16px;
    background-color: lightblue;
}

#album_list {
    width: 70%;
    text-align: left;
    align-self: center;
}

.album_list_item {
    text-decoration: none;
    color: black;
}

/*-----Photo Gallery-----*/
#right_column {
    padding: 40px;
    width: 80vw;
    border-top: 2px solid black;
    border-left: 2px solid black;
}